<footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);" id="copyright">
      
      
    </div>
    <!-- Copyright -->
  </footer>
  <script type ="text/javascript">
    n =  new Date();
    y = n.getFullYear();
    document.getElementById("copyright").innerHTML = `© ${y} Copyright: <a class="text-dark" href="https://soberdev.com/">soberdev.com</a>`;
  </script>