{% extends "base.html" %}
{% load static %}
{% block content %}
{% if User %}
<div class="container">
    <div class="main-body">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="{{User.profile.image.url}}" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{User.profile.fullname}}</h4>
                      <p class="text-secondary mb-1">{{User.profile.job_stack}}</p>
                      <p class="text-muted font-size-sm">{{User.profile.get_full_address}}</p>
                      <button class="btn btn-primary">Follow</button>
                      <button class="btn btn-outline-primary">Message</button>
                    </div>
                  </div>
                </div>
              </div>
              {% if User.profile_social.all %}
                
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  {% for social in User.profile_social.all %}
                    
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">{{social.icon|safe}} {{social.name}}</h6>
                    <span class="text-secondary"><a href="{{social.url}}" target="_blank" class="btn btn-primary stretched-link">visit</a></span>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              {% endif %}
              <!-- about -->
              {% if User.profile.about %}
              <div class="card mt-3">
                <h6 class="list-group-item d-flex justify-content-between align-items-center flex-wrap">About me:</h6>
                <p class="list-group-item d-flex justify-content-between align-items-center flex-wrap">{{User.profile.about}}</p>
              </div>
              {% endif %}
              <!-- about -->

              <!-- skills -->
              <div class="card mt-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Skills</h6>
                    </div>
                  </div>
                </div>
              </div>
              <!-- skills -->
              {% if Language %}
                  
                <div class="card mt-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3">Programing Language</h6>
                      {% for item in Language %}
                        
                      <small>{{item.icon |safe}} {{item.name}}</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: {{item.skill_level}}%" aria-valuenow="{{item.skill_level}}" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                {% endif %}
                {% if Framework %}
                  
                <div class="card mt-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3">Framework</h6>
                      {% for item in Framework %}
                        
                      <small>{{item.icon |safe}} {{item.name}}</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: {{item.skill_level}}%" aria-valuenow="{{item.skill_level}}" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                {% endif %}
                {% if Tool %}
                  
                <div class="card mt-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3">Tools</h6>
                      {% for item in Tool %}
                        
                      <small>{{item.icon |safe}} {{item.name}}</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: {{item.skill_level}}%" aria-valuenow="{{item.skill_level}}" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                {% endif %}
                {% if Database %}
                  
                <div class="card mt-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3">Databases</h6>
                      {% for item in Database %}
                        
                      <small>{{item.icon |safe}} {{item.name}}</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: {{item.skill_level}}%" aria-valuenow="{{item.skill_level}}" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                {% endif %}
                {% if Other %}
                  
                <div class="card mt-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3">Others</h6>
                      {% for item in Other %}
                        
                      <small>{{item.icon |safe}} {{item.name}}</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: {{item.skill_level}}%" aria-valuenow="{{item.skill_level}}" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                {% endif %}
              
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{User.profile.fullname}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{User.profile.email}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{User.profile.phone}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{User.profile.get_full_address}}
                    </div>
                  </div>
                </div>
              </div>
              {% if User.profile_experiences.all %}
              <!-- experience -->
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Experiences</h6>
                    </div>
                  </div>
                </div>
              </div>
              <!-- experience -->
              <div class="row gutters-sm">
               
                {% for exp  in User.profile_experiences.all %}
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      
                      <h6 class="d-flex align-items-center mb-3">{{exp.company}} </h6>
                      <h6 class="d-flex align-items-center mb-3">{{exp.title}} </h6>
                      {% if exp.image %}
                      <img src="{{exp.image.url}}" class="img-fluid" alt="Responsive image">
                      {% endif %}
                      <p class="d-flex align-items-left mb-3 text-secondary">from {{exp.start_date}} to {{exp.until}} </p>
                      <small>{{exp.description}}</small>
                      {% if exp.url %}
                      <hr>
                      <small class="d-flex align-items-center mb-3 text-secondary"><a href="{{exp.url}}" target="_blank" class="btn btn-primary stretched-link">visit</a></small>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endfor %}
              </div>
              {% endif %}
              
              <div class="row gutters-sm">
                <!-- {% if Other %}
                  
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3">Others</h6>
                      {% for item in Other %}
                        
                      <small>{{item.icon |safe}} {{item.name}}</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: {{item.skill_level}}%" aria-valuenow="{{item.skill_level}}" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                {% endif %} -->
              </div>
            </div>
          </div>

        </div>
    </div>
    {% else %}
    <div class="container">
      <div class="main-body">
        <h1>Please setup your profile</h1>
      </div>
      <div>
{% endif %}

    {% include "footer.html" %}
    {% endblock content %}
